@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student List</h1>
    <div class="row">
        <div class="col-6">
            <button class=" btn btn-primary" asp-area="" asp-controller="Student" asp-action="Index" style="width:150px">List Of Student</button>
        </div>
        <div class="col-6">
            <button class=" btn btn-primary" asp-area="" asp-controller="Student" asp-action="Index" style="width:150px">Student Info</button>
        </div>
    </div>
</div>
